@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* color */
    --background: #FFFFFF;
    --primary1: #FF6600;
    --primary2: #F98F46
}

body{
    min-height: 100vh;
    background-color: var(--background);
}

/* navbar */
header nav.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--primary1);
    transition: 0.5s;
    z-index: 9999;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header nav img {
    width: 110px;
}
header nav .container {
    display: flex;
}
header nav .nav-list{
    display: flex;
    margin-top: 14px;
}

header nav .nav-list a {
    color: var(--background);
    text-decoration: none;
    font-size: 16px;
}

nav a:is(:link, :active, :visited).active {
    border-bottom: 3px solid var(--background);
    padding: 5px;
}

/* profile */
section img {
    width: 100%;
    margin-bottom: 50px;
}

/* main section */
main section .box-content {
    margin-top: 50px;
}

main section .button-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .button-add {
    background-color: var(--primary2);
    color: var(--background);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 5px 14px;
    outline: none;
    border: none;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    z-index: 1;
}
.button-add:hover {
    background-color: var(--primary1);
    color: var(--background);
}

main section .card-publish {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #B9B9B9;
    margin-top: -30px;
}

main section .card-text{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5em; 
    max-height: 4.5em; 
}


